        #jsonTextarea {
            float: left;
            margin-right: 20px;
            width: 40%;
            height: 70vh;
            outline: none;
            padding: 5px;
			display: none; 
        }
        #jsonPre {
	width: 678px;
    margin: 4px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 10px 6px;
    overflow-y: auto;
		white-space: pre-wrap; 
    word-wrap: break-word; 
        }
 
        .string {
            color: green;
        }
 
        .number {
            color: darkorange;
        }
 
        .boolean {
            color: blue;
        }
 
        .null {
            color: magenta;
        }
 
        .key {
            color: red;
        }
		.dis{
			display: none; 
		}
